.header {
  height: 80px;
  background: #1C2B35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 140px;
  padding-left: 30px
}

.header a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
  padding-left: 36px;

}

.header a:hover {
  color: orange;
  font-size: 25px;
}

.btn-logout {
  margin-left: 10px;
  border-radius: 6px;
}